* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    line-height: 1.6rem;
    font-family: 'Source Sans 3', sans-serif;
    box-sizing: border-box;
}

ul, li {
    list-style-type: none;
}

a {
    text-decoration: none;
}
input {
    border-radius: 0;
}
