.header {
    height: 70px;
    background-color: #0074D9;
}

.header__navbar {
    height: 70px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    position: relative;
}

.header__navbar-logo {
    height: 55px;
    position: absolute;
    left: 135px;
}

.header__navbar-logo img {
    height: 55px;
}

.header__navbar-login {
    /* height: 70px; */
    position: absolute;
    right: 135px;
}

.header__navbar-login--text {
    font-size: 18px;
    color: white;
}

.header__navbar-login--text i {
    margin-left: 6px;
}

#map {
    height: 500px;
    width: 900px;
    border:1px solid #cdced0;
    margin: 50px auto;
}

.place-info {
    font-size: 14px;
    color: black;
    background-color: white;
    height: auto;
    width: 230px;
}

.img-place {
    width: 220px;
}