.header {
    height: 70px;
    background-image: linear-gradient(195deg, #49a3f1 0%, #1A73E8 100%);
}

.header__navbar {
    height: 70px;
    display: flex;
    align-items: center; /* Vertically center the content */
    position: relative;
}

.header__navbar-logo {
    height: 40px;
    position: absolute;
    left: 135px;
}

.header__navbar-logo img {
    height: 40px;
}

.header__navbar-login {
    /* height: 70px; */
    position: absolute;
    right: 135px;
}

.header__navbar-login--text {
    font-size: 18px;
    color: white;
    background-color: transparent;
    cursor: pointer;
}

.header__navbar-login--text span {
    font-weight: 700;
}

.header__navbar-login--text i {
    margin-left: 6px;
}

#map {
    height: calc(100vh - 70px);
    width: 100%;
    border:1px solid #cdced0;
}

.place-info {
    font-size: 15px;
    color: black;
    background-color: white;
    height: auto;
    width: 240px;
    font-family: 'Source Sans 3', sans-serif;
}

.img-place {
    width: 220px;
    margin-top: 10px;
}

#login-section {
    display: none;
}

.empty-section {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 100vh;
    width: auto;
    overflow-y: auto;
    background-color: #00000047;
}

.login-box {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -235px;
    margin-left: -200px;
    overflow-y: auto;
    height: 470px;
    width: 400px;
    background-color: white;
    border: 1px solid #ebeef5;
    box-shadow: 0 2px 12px 0 rgba(0,0,0,.1);
    border-radius: 3px;
    display: flex;
    align-items: center;
    flex-flow: column;
    padding: 44px 28px;
}

.login-box img {
    width: 250px;
}

.login-box > p {
    font-size: 18px;
    font-weight: 500;
    margin: 16px auto;
}

.login-box form {
    width: 100%;
}

.input-group {
    margin-bottom: 22px;
    font-size: 14px;
    height: 36px;
    width: 100%;
    display: flex;
}

.input-icon {
    background-color: #F4F7FA;
    padding: 0 15px;
    border: 1px solid #dcdfe6;
    border-right: 0;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    display: flex;
    align-items: center;
}

.input-icon i {
    color: #909398;
    font-size: 13px;
}

.input-field {
    width: 100%;
    border: 1px solid #dcdfe6;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    padding: 0 15px;
    line-height: 36px;
    transition: border-color .2s cubic-bezier(.645,.045,.355,1);
}

.input-field:focus {
    border: 1px solid #409eff;
}

.login-button {
    width: 100%;
    line-height: 36px;
    color: #fff;
    font-size: 14px;
    background-color: #409eff;
    border-color: #409eff;
    border-radius: 3px;
    cursor: pointer;
}
/* CSS */
.detailedAdSign {
    background-color: rgb(75, 135, 229);
    border: 1px solid transparent;
    border-radius: 3px;
    box-shadow: rgba(255, 255, 255, .4) 0 1px 0 0 inset;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system,system-ui,"Segoe UI","Liberation Sans",sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.15385;
    margin: 0;
    outline: none;
    padding: 8px .8em;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    white-space: nowrap;
    margin-top: 5px;
}

.detailedAdSign:hover {
    background-color: #07c;
}

.detailedAdSign:active {
    background-color: #0064bd;
    box-shadow: none;
}

/* .popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    z-index: 1000;
} */

/* .popup button#closePopup {
    display: block;
    margin-top: 10px;
    cursor: pointer;
} */

.place-detail-information {
    display: block;
    height: auto;
    box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.5);
    transition: 0.3s;
    padding: 10px;
    border-radius: 10px 10px 10px 10px;
    background-color: white;
}

.report-detail-information:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.3);
}

.report-detail-information {
    display: block;
    height: auto;
    box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.5);
    transition: 0.3s;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px 10px 10px 10px;
    backdrop-filter: blur(6px);
    background-color: rgba(255, 255, 255, 0.75);
}

.place-detail-information:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.3);
}

.placeDetailsButtonContainer {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
}

.placeDetailsButton{
    background-color: inherit;
    cursor: pointer;
}

.textWithImageButton {
    display: inline-flex;
    align-items: center;
    color: #dc4f52;
    padding: 2px;
    margin-right: 6px;
}

.right-panel {
    position: fixed;
    top: 85px;
    right: -100%;
    width: 30%;
    bottom: 15px;
    margin-right: 15px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.75); /*Semi-transparent white background*/
    backdrop-filter: blur(6px);
    overflow-y: auto;
    transition: right 0.3s;
    z-index: 2;
}

#content-right-panel-detail-ad {
    padding: 20px;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 24px;
    cursor: pointer;
}

.right-panel.show {
    right: 0;
}

.info-place-bubble div:first-child {
    background-color: #DCFFEC !important;
    bottom: -150px;
}
.info-place-bubble .H_ib_tail {
    display: none;
}
.info-place-bubble .H_ib_tail::after {
    border-color: #DCFFEC transparent !important;
}

.H_ib_body {
    /* background-color: #DCFFEC !important; */
}
.H_ib.H_ib_top .H_ib_tail::after {
    /* border-color: #DCFFEC transparent !important; */
}

.AdBannerDialog{
    display: none;
    position: fixed;
    z-index: 2;
    padding-top: 100px;
    padding-bottom: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    /* background-color: rgb(0, 0, 0); */
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(2px);
}

.reportAdBannerContent {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    border-radius: 10px;
}

.closeAdBannerDialog:hover, .closeAdBannerDialog:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.formbold-main-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.formbold-form-wrapper {
    margin: 0 auto;
    max-width: 90%;
    width: 100%;
    background: white;
}

.formbold-input-flex {
    display: flex;
    gap: 20px;
    margin-bottom: 22px;
}

.formbold-input-flex > div {
    width: 50%;
    display: flex;
    flex-direction: column-reverse;
}

.formbold-textarea {
    display: flex;
    flex-direction: column-reverse;
}

.formbold-form-input {
    width: 100%;
    padding-bottom: 10px;
    border: none;
    border-bottom: 1px solid #DDE3EC;
    background: #FFFFFF;
    font-weight: 500;
    font-size: 16px;
    color: #07074D;
    outline: none;
    resize: none;
}

.formbold-form-input::placeholder {
    color: #536387;
}

.formbold-form-input:focus {
    border-color: #4c89e5;
}

.formbold-form-label {
    color: #07074D;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    display: block;
    margin-bottom: 18px;
}

.formbold-form-input:focus + .formbold-form-label {
    color: #4c89e5;
}

.formbold-input-file {
    margin-top: 30px;
}

.formbold-input-file input[type="file"] {
    position: absolute;
    top: 6px;
    left: 0;
    z-index: -1;
}

.formbold-input-file .formbold-input-label {
    display: flex;
    align-items: center;
    gap: 10px;
    position: relative;
}

.formbold-filename-wrapper {
    display: flex;
    flex-direction: column;
    gap: 6px;
    margin-bottom: 22px;
}

.formbold-filename {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    line-height: 24px;
    color: #536387;
}

.formbold-filename svg {
    cursor: pointer;
}

.formbold-btn {
    font-size: 16px;
    border-radius: 5px;
    padding: 12px 25px;
    border: none;
    font-weight: 500;
    background-color: #4c89e5;
    color: white;
    cursor: pointer;
    margin-top: 25px;
}

.formbold-btn:hover {
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.05);
}

.autocomplete-container {
    position: relative;
}

.autocomplete-dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    /* Set the width to match the search input */
    border: 1px solid #ced4da;
    max-height: 300px;
    overflow-y: auto;
    display: none;
    /* Initially hide the dropdown */
}

.dropdown-item {
    cursor: pointer;
}

.searchbox {
    /* position: absolute;
    left: 10px;
    top: 40px; */
    z-index: 3;
}

.header__navbar-search {
    position: absolute;
    top: 64%; /* Vertically center the search bar */
    transform: translateY(-50%);
    right: 135px;
    width: 500px; /* Set the width to 700px */
    display: flex;
    align-items: center;
    z-index: 1;
}

#toggleLayout {
    display: inline-block;
    border-radius: 10px;
    backdrop-filter: blur(6px);
    background-color: rgba(255, 255, 255, 0.75);
    position: absolute;
    bottom: 15px;
    left: 15px;
    padding: 10px 15px;
    z-index: 2;
}

.form-switch .form-check-input {
    border-radius: 3em !important;
}

#reportDialogModal {
    display: none;
    position: absolute;
    border-radius: 10px;
    left: 220px;
    bottom: 0px;
    max-width: 50%;
    z-index: 2;
    overflow-x: auto;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;
    margin: 7px;
}

#reportDialogModal::-webkit-scrollbar {
    display: none;
}

#autocompleteDropdown{
    border-radius: 10px !important;
    backdrop-filter: blur(6px) !important;
    background-color: rgba(255, 255, 255, 0.75) !important;
}

#searchInput {
    border-radius: 10px !important;
}