.header {
    height: 70px;
    background-image: linear-gradient(195deg, #49a3f1 0%, #1A73E8 100%);
}

.header__navbar {
    height: 70px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    position: relative;
}

.header__navbar-logo {
    height: 40px;
    position: absolute;
    left: 135px;
}

.header__navbar-logo img {
    height: 40px;
}

.header__navbar-login {
    /* height: 70px; */
    position: absolute;
    right: 135px;
}

.header__navbar-login--text {
    font-size: 18px;
    color: white;
    background-color: transparent;
    cursor: pointer;
}

.header__navbar-login--text span {
    font-weight: 700;
}

.header__navbar-login--text i {
    margin-left: 6px;
}

#map {
    height: calc(100vh - 70px);
    width: 100%;
    border:1px solid #cdced0;
}

.place-info {
    font-size: 15px;
    color: black;
    background-color: white;
    height: auto;
    width: 240px;
    font-family: 'Source Sans 3', sans-serif;
}

.img-place {
    width: 220px;
    margin-top: 10px;
}

#login-section {
    display: none;
}

.empty-section {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 100vh;
    width: auto;
    overflow-y: auto;
    background-color: #00000047;
}

.login-box {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -235px;
    margin-left: -200px;
    overflow-y: auto;
    height: 470px;
    width: 400px;
    background-color: white;
    border: 1px solid #ebeef5;
    box-shadow: 0 2px 12px 0 rgba(0,0,0,.1);
    border-radius: 3px;
    display: flex;
    align-items: center;
    flex-flow: column;
    padding: 44px 28px;
}

.login-box img {
    width: 250px;
}

.login-box > p {
    font-size: 18px;
    font-weight: 500;
    margin: 16px auto;
}

.login-box form {
    width: 100%;
}

.input-group {
    margin-bottom: 22px;
    font-size: 14px;
    height: 36px;
    width: 100%;
    display: flex;
}

.input-icon {
    background-color: #F4F7FA;
    padding: 0 15px;
    border: 1px solid #dcdfe6;
    border-right: 0;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    display: flex;
    align-items: center;
}

.input-icon i {
    color: #909398;
    font-size: 13px;
}

.input-field {
    width: 100%;
    border: 1px solid #dcdfe6;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    padding: 0 15px;
    line-height: 36px;
    transition: border-color .2s cubic-bezier(.645,.045,.355,1);
}

.input-field:focus {
    border: 1px solid #409eff;
}

.login-button {
    width: 100%;
    line-height: 36px;
    color: #fff;
    font-size: 14px;
    background-color: #409eff;
    border-color: #409eff;
    border-radius: 3px;
    cursor: pointer;
}
/* CSS */
.detailedAdSign {
    background-color: rgb(75, 135, 229);
    border: 1px solid transparent;
    border-radius: 3px;
    box-shadow: rgba(255, 255, 255, .4) 0 1px 0 0 inset;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system,system-ui,"Segoe UI","Liberation Sans",sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.15385;
    margin: 0;
    outline: none;
    padding: 8px .8em;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    white-space: nowrap;
    margin-top: 5px;
}

.detailedAdSign:hover {
    background-color: #07c;
}

.detailedAdSign:active {
    background-color: #0064bd;
    box-shadow: none;
}

/* .popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    z-index: 1000;
} */

/* .popup button#closePopup {
    display: block;
    margin-top: 10px;
    cursor: pointer;
} */

.place-detail-information {
    height: auto;
    box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.5);
    transition: 0.3s;
    padding: 10px;
    margin-top: 10px;
    border-radius: 10px 10px 10px 10px;
}

.place-detail-information:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.3);
}

.placeDetailsButtonContainer {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
}

.placeDetailsButton{
    background-color: inherit;
    cursor: pointer;
}

.textWithImageButton {
    display: inline-flex;
    align-items: center;
    color: #dc4f52;
    padding: 2px;
    margin-right: 6px;
}

.right-panel {
    position: fixed;
    top: 0;
    right: -100%;
    width: 30%;
    height: 100%;
    margin-top: 70px;
    background: rgba(255, 255, 255, 0.8); /*Semi-transparent white background*/
    backdrop-filter: blur(6px);
    overflow-y: auto;
    transition: right 0.3s;
}

#content-right-panel-detail-ad {
    padding: 20px;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 24px;
    cursor: pointer;
}

.right-panel.show {
    right: 0;
}